.button {
    cursor: pointer;
}

.errorInBytes {
    background-color: red;
    color: white;
}

.blank {
    background-color: white;
    color: black;
}
.float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4em;
    height: 4em;
  }