<div fxLayout="column" fxLayoutGap="1em">
    <h1>Hamming</h1>
    <form [formGroup]="dataForm">
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1em">
            <mat-form-field>
                <textarea rows="10" formControlName="text" matInput placeholder="Ingrese texto a enviar"></textarea>
            </mat-form-field>
        </div>
        <button (click)="code()" mat-raised-button>Codificar texto</button>
    </form>
    <div *ngIf="!!coding" fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
            <h4>Texto codificado</h4>
            <button (click)="errors()" color="warn" mat-raised-button>Introducir errores aleatorios</button>
            <button (click)="sendMessage()" color="primary" mat-raised-button>Enviar</button>
        </div>
            <div *ngFor="let byte of bytes; let i = index" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
                <div *ngFor="let bit of byte; let j = index" fxLayout="column" fxLayoutGap="1em">
                    <mat-card (click)="setState(i,j)"
                        [ngClass]="{'errorInBytes': errorInBytes[i][j] == 1, 'blank': errorInBytes[i][j] == 0 }"
                        class="button">
                        <p>{{bit}}</p>
                    </mat-card>
                </div>
            </div>
    </div>
    <button (click)="up()" color="primary" class="float" mat-fab>Subir</button>
</div>