.style0 {
  width: 50px !important;
  height: 50px !important;
  background-image: linear-gradient(
    to top right,
    black 50%,
    white 50%
  ) !important;
  border: 1px solid black !important;
  cursor: pointer;
}
.style1 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to top left, black 50%, white 50%);
  border: 1px solid black;
  cursor: pointer;
}
.style2 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to bottom right, black 50%, white 50%);
  border: 1px solid black;
  cursor: pointer;
}
.style3 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to bottom left, black 50%, white 50%);
  border: 1px solid black;
  cursor: pointer;
}
.style4 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to top, black 50%, white 50%);
  border: 1px solid black;
  cursor: pointer;
}
.style5 {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to bottom, black 50%, white 50%);
  border: 1px solid black;
  cursor: pointer;
}
.style6 {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.style7 {
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
}
