<div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column">
            <p fxFlexAlign="center">Emisor</p>
            <img (click)="go('E')" src="assets/emisor.jpg" style="width: 200px; height: 200px; cursor: pointer;">
        </div>
        <div fxLayout="column">
            <p fxFlexAlign="center">Receptor</p>
            <img (click)="go('R')" src="assets/receptor.jpg" style="width: 200px; height: 200px; cursor: pointer;">
        </div>
    </div>
</div>